<!DOCTYPE html>
<html>
<head>
    <title>Application Submitted</title>
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/jobs/">Jobs</a>
</nav>

<hr>

    <h1>Application Submitted Successfully</h1>

    <h2>{{ job.title }}</h2>

    <p><strong>Name:</strong> {{ application.name }}</p>

    <p><strong>Email:</strong> {{ application.email }}</p>

    <p><strong>Skills:</strong> {{ application.skills }}</p>

    <h2>AI Match Score: {{ application.match_score }}%ˇ

    <br>

    <a href="/jobs/">Back to Jobs</a>

</body>
</html>